#masthead-positioner {
    position: relative !important;
    padding-bottom: 10px;
}

#yt-masthead-container {
	border-bottom-color: #2D2D2D !important;
}	
#masthead-search button, #masthead-search div {
	border-color: #2D2D2D;
}