@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {

/* Positioning Hacks */
#body-container, #watch7-main { 
	padding-bottom: 0px; 
	margin-bottom: 0px;
}
#watch7-content, #watch-description-clip{
	width: 100%;
}
#watch8-action-buttons, .yt-card .yt-uix-tabs, .yt-card .yt-uix-button-expander { 
	border: 0px; 
}
#page.watch, #page.watch #content, #page.watch #watch7-container {
  overflow: hidden;
}
	#page-container {
		width: 100% !important;
		height: 100% !important;
	}
	
}